@page
@model DeliveryCart_Customer.Pages.DeliveryDrivers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Driver</h1>

<h4> New Delivery Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryDriver.deliveryDriverName" class="control-label">Name of Driver</label>
                <input asp-for="DeliveryDriver.deliveryDriverName" class="form-control" />
                <span asp-validation-for="DeliveryDriver.deliveryDriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDriver.deliveryDriverPhoneNumber" class="control-label">Contact info for Driver</label>
                <input asp-for="DeliveryDriver.deliveryDriverPhoneNumber" class="form-control" />
                <span asp-validation-for="DeliveryDriver.deliveryDriverPhoneNumber" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DeliveryDriver.orderID" class="control-label"></label>
                <input asp-for="DeliveryDriver.orderID" class="form-control" />
                <span asp-validation-for="DeliveryDriver.orderID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create Driver?" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Driver list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
