@page
@model DeliveryCart_Customer.Pages.DeliveryDrivers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Delivery Driver</h1>

<h4>Update Driver Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeliveryDriver.deliveryDriverID" />
            <div class="form-group">
                <label asp-for="DeliveryDriver.deliveryDriverName" class="control-label">Driver Name</label>
                <input asp-for="DeliveryDriver.deliveryDriverName" class="form-control" />
                <span asp-validation-for="DeliveryDriver.deliveryDriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDriver.deliveryDriverPhoneNumber" class="control-label">Driver Contact Information</label>
                <input asp-for="DeliveryDriver.deliveryDriverPhoneNumber" class="form-control" />
                <span asp-validation-for="DeliveryDriver.deliveryDriverPhoneNumber" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DeliveryDriver.orderID" class="control-label"></label>
                <input asp-for="DeliveryDriver.orderID" class="form-control" />
                <span asp-validation-for="DeliveryDriver.orderID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save Changes?" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Driver list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
