@page
@model DeliveryCart_Customer.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Customer</h1>

<h4>Etner Customer information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.customerName" class="control-label">Customer Name</label>
                <input asp-for="Customer.customerName" class="form-control" />
                <span asp-validation-for="Customer.customerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.customerEmail" class="control-label">Customer Email</label>
                <input asp-for="Customer.customerEmail" class="form-control" />
                <span asp-validation-for="Customer.customerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.customerAddress" class="control-label">Home Address</label>
                <input asp-for="Customer.customerAddress" class="form-control" />
                <span asp-validation-for="Customer.customerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.customerPhoneNumber" class="control-label">Main Phone Number</label>
                <input asp-for="Customer.customerPhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.customerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Customer?" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Return to the list of customers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
