@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A new online grocery delivery system. Making shopping easy and bringing deliveries right to your door. Try it now!</p>
</div>
